@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700&display=swap");

html{
  scroll-padding-top: 90px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  --red: red;
  --dark: black;
  --light: white;
  font-family: "Roboto", sans-serif;
}

p,
a,
span {
  text-decoration: none;
  color: var(--light);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.308));
}

h1 span {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  transition: 0.25s;
}
h1 {
  text-align: center;
  padding: 0;
  font-size: 6rem;
}
main {
  padding-top: 90px;
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
}
.content__container,
.creator__container,
.gallery {
  display: block;
  margin: 1rem;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.content__container > div {
  display: flex;
  flex-wrap: wrap;
  color: var(--light);
  fill: var(--light);
  justify-content: space-evenly;
}

.content__container svg {
  fill: var(--light);
  height: 2rem;
  transition: 0.5s;
}
.content__container svg:hover {
  transform: scale(1.1);
}
.creator__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creator__container figure {
  width: 100%;
  margin: 0;
}

.creator__container {
  margin: 1rem;
  max-width: 300px;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.creator__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.creator__container figure {
  aspect-ratio: 1/1;
  border-radius: 1rem;
  overflow: hidden;
}

.scene__netflix {
  min-height: 10vh;
}

h2 {
  margin: 1rem;
  color: var(--light);
}

@media only screen and (min-width: 1200px) {
  .content__container,
  .gallery {
    width: 1200px;
    margin: 1rem calc(50vw - 600px) 0 calc(50vw - 600px);
  }
}

.wave {
  width: 100vw;
  z-index: -1;
  position: absolute;
}
.gallery::before {
  content: "";
  left: 0;
}

/* Gallery */

.lg-react-element .lg__image {
  width: 300px;
  margin: 1rem;
}
.lg-react-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lg__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lg__image figure {
  margin: 0;
  aspect-ratio: 2 / 3;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}

.lg__image figcaption {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -2em);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px black);
}
.lg__image:hover figcaption {
  transform: translate(-50%, -2em) scale(1.2);
}

@media only screen and (max-width: 350px) {
  .lg-react-element .lg__image {
    max-width: 300px;
  }
}
.netflix {
  background-color: rgba(252, 70, 107, 1);
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 1rem;
  overflow: hidden;
}

.netflix__background {
  background-color: rgb(1, 0, 12);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: var(--opacity);
  transition: 1s;
}
.netflix figure {
  height: calc(100vh - 100px);
  overflow: hidden;
  border-radius: 1rem;
  margin: 0;
  margin-top: 100px;
}
.netflix img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer {
  text-align: center;
  color: white;
  
}