.background {
  position: absolute;
  top: 0;
  z-index: -1;
  /* filter: blur(100px); */
}
.background svg {
  width: 100vw;
}

.background__object {
  transition: 0.5s;
}

#Group_5 {
  filter: blur(100px);
}
