.nav {
  position: fixed;
  width: 100vw;
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  top: 0;
  z-index: 999;
}
.nav__container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.nav__icon {
  margin-right: auto;
}
.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.nav__list li {
  margin: 0 1rem;
}


@media only screen and (min-width: 1200px) {
  .nav__container {
    width: 1200px;
    padding: 1rem calc(50vw - 600px);
  }
}